<div>
    <a class="strip_list grid" (click)="CafeDetail()">
        <div class="desc">
            <div class="thumb_strip">
                <img src="assets/img/thumb_restaurant_6.jpg" alt="">
            </div>
            <div class="rating">
                <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
            </div>
            <h3>
                {{cafesname}}
            </h3>
            <div class="type">
                Chinese / Vietnam
            </div>
            <div class="location">
                135 Newtownards Road, Belfast, BT4. <br><span class="opening">Opens at 17:00.</span> Minimum order: $15
            </div>
            <ul>
                <li>Take away<i class="icon_check_alt2 ok"></i></li>
                <li>Delivery<i class="icon_check_alt2 ok"></i></li>
            </ul>
        </div>
    </a><!-- End strip_list-->
</div><!-- End col-md-6-->