


<section id="about" class="about">
  
    <div class="container">

      <div class="section-title">
        <span>ABOUT US</span>
        <h1>ABOUT US</h1>
      </div>

      
      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="../../assets/img/{{WebsiteAboutImg}}" class="img-fluid">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>At Mr Café</h3>
          <p class="fst-italic">
            {{WebsiteAbout}}
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Our method is simple:</li>
            <li><i class="bi bi-check-circle"></i> Choose your favorite coffee shop and match it in the search.</li>
            <li><i class="bi bi-check-circle"></i> Let us be your guide and help you with our diverse selection of cafes.</li>
          </ul>
          <p>
            Do not worry, your satisfaction with the service is what matters most to us.
             This recipe has always been the key to our success.
             We feature the best coffee shops in the area. 
          </p>
        </div>
      </div>

    </div>
  </section>