<section id="contact" class="contact">
    <div class="cat">
      <div class="section-title">
        <span>Singup</span>
        <h1>Singup</h1>
      </div>
  
      <div class="container">
        <form  [formGroup]="form1">
          <div class="form-field">
            <input
              placeholder="Your rate"
              type="number"
              tabindex="1"
              formControlName="rate" hidden
            />
          </div>
          
          <div class="form-field">
              <input
                placeholder="Your cafe Name"
                type="text"
                tabindex="1"
                formControlName="cafesname"
                required
              />
          </div>
  
          <div class="form-field">
            <input
              placeholder="Your userName"
              type="text"
              tabindex="1"
              formControlName="userName"
            />
          </div>
  
          <div class="form-field">
            <input
              placeholder="Your password"
              type="password"
              tabindex="1"
              formControlName="password"
              required
            />
          </div>
          <div id="map" ></div>
        <div class="form-field">
          <button
            name="submit"
            class="btn"
            (click)="Insertusers()"
            type="submit"
            id="contact-submit"
            data-submit="...Sending"
          >
            Submit
          </button>
        </div>
      </form>
      </div>
    </div>
  </section>
  