<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-rotate"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>


</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>


<form [formGroup]="form1">
  <div class="form-field">
    <input type="email" formControlName="username" placeholder="Username" required/>
  </div>
  
  <div class="form-field">
    <input type="password"formControlName="password" placeholder="Password" required/>               
    </div>
  
  <div class="form-field">
    <button id="btn1"class="btn" (click)="  login()" type="submit">Log in</button>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
