.picsum-img-wrapper{
    height: 500px;
    
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .image {
    opacity: 0.3;
  }