<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2-xkIuso787GJRvu-9u5FYggg5aruePM&callback=initMap"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2-xkIuso787GJRvu-9u5FYggg5aruePM"></script>

<ngx-spinner bdColor = "rgba(0,0,0,0.80)" size = "small" color = "#fff" type = "triangle-skew-spin"><h4 style="color: rgb(224, 53, 53)" > Loading... </h4></ngx-spinner>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

