<section id="contact" class="contact">
  
  <div class="cat">
    <div class="section-title">
      <span>Singup</span>
      <h1>Singup</h1>
      <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
    </div>
  
    <div class="row">
      <mat-card class="example-card">
        <h1>Customer</h1>
        <img mat-card-image src="https://cdn3.iconfinder.com/data/icons/shopping-solid-icons-vol-2/64/063-512.png" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button id="userType" mat-button (click)="selectType('Customer')">select</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <h1>Cafe</h1>
        <img mat-card-image src="https://cdn0.iconfinder.com/data/icons/coffee-25/436/coffee_60-512.png" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button id="userType" mat-button (click)="selectType('Cafe')">Select</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <h1>Delivery</h1>
        <img mat-card-image src="https://i.dlpng.com/static/png/6422380_preview.png" alt="Photo of a Shiba Inu">
        <br><br>
        <button id="userType" mat-button (click)="selectType('Delivery')">Select</button>
      </mat-card>
    </div>
    
  </div>
  
</section>
<section id="contact" class="contact">
  
    <div class="cat">
      <div class="section-title">
        <span>Singup</span>
        <h1>Singup</h1>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>
    

      <div class="container" >  
        <form id="contact"  [formGroup]="form1">
          <h3></h3>
          <h4></h4>
              <div class="form-field">
            <input placeholder="Your first name" type="text"  tabindex="1"formControlName="fname" required />
              </div>

              <div class="form-field">
                <input placeholder="Your last name" type="text"  tabindex="1"formControlName="lname" required />
                  </div>

              <div class="form-field">      
                    <input placeholder="Your Email Address" type="email" formControlName="email" tabindex="2" />
              </div>

              <div class="form-field">
            <input placeholder="Your phone" type="text" tabindex="1" formControlName="phone"  >
              </div>
          
            <div class="form-field">
            <input placeholder="Your latitude" type="number"  tabindex="1"formControlName="latitude" required />
              </div>

              <div class="form-field">
                <input placeholder="Your longitude" type="number"  tabindex="1"formControlName="longitude" required />
                  </div>

              <div class="form-field">      
                    <input placeholder="Your salary" type="number" formControlName="salary" tabindex="2" />
              </div>
              
              <div class="form-field">
            <input placeholder="Your userName" type="text" tabindex="1" formControlName="userName"  >
              </div>

              <div class="form-field">
                <input placeholder="Your password" type="password"  tabindex="1"formControlName="password" required />
                  </div>
    
                  <div class="form-field">
                    <input placeholder="Your userId" type="number"  tabindex="1"formControlName="userId" required />
                      </div>
    
                  <div class="form-field">      
                        <input placeholder="Your rolename" type="text" formControlName="rolename" tabindex="2" hidden  />
                  </div>
                  
                  <div class="form-field">
                <input placeholder="Your CafeId" type="number" tabindex="1" formControlName="CafeId"  >
                  </div>


          <div class="form-field">
            <button name="submit" class="btn" (click)="Insertusers()" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </div>
        
        </form>
    
        
      </div>
    </div>
    
  </section>
  
  