
<!-- ======= team Section ======= -->
<section id="team" class="team">
    <div class="container">
  
      <div class="section-title">
        <span>Team</span>
        <h2>Team</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>
  
      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="../../assets/img/team/team1.jpg" alt="">
            <h1>laith Al-alawneh</h1>
            <span>Full Stack Developer</span>
            
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="assets/img/team/team1.jpg" alt="">
            <h1>laith Al-alawneh</h1>
            <span>Full Stack Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="assets/img/team/team1.jpg" alt="">
            <h1>laith Al-alawneh</h1>
            <span>Full Stack Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
          <div class="member">
            <img src="assets/img/team/team1.jpg" alt="">
            <h1>Laith Al-alawneh</h1>
            <span>Full Stack Developer</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
      
