<app-slider></app-slider>


<!--  How it works-->

<section class="HomeSection">
  <div class="cat">
    <div class="section-title">
      <span>How it works</span>
      <h1>How it works</h1>
      <p>
        Sit sint consectetur velit quisquam cupiditate impedit suscipit alias
      </p>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="box_home" id="one">
          <span>1</span>
          <h3>Search by address</h3>
          <p>Find all restaurants available in your zone.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box_home" id="two">
          <span>2</span>
          <h3>Choose a restaurant</h3>
          <p>We have more than 1000s of menus online.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box_home" id="three">
          <span>3</span>
          <h3>Pay by card or cash</h3>
          <p>It's quick, easy and totally secure.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box_home" id="four">
          <span>4</span>
          <h3>Delivery or takeaway</h3>
          <p>You are lazy? Are you backing home?</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!--  popular cafes-->

<section class="HomeSection">
  <div class="cat">
    <div class="section-title">
      <span>Choose from Most Popular</span>
      <h1>Choose from Most Popular</h1>
      <p>
        Sit sint consectetur velit quisquam cupiditate impedit suscipit alias
      </p>
    </div>
    <div class="row" style="width: 100%">
      <app-popular
        *ngFor="let item of AllCafes"
        [cafeid]="item.cafeid"
        [cafesname]="item.cafesname"
        [latitude]="item.latitude"
        [logins]="item.logins"
        [longitude]="item.longitude"
        [rate]="item.rate"
        [wallets]="item.wallets"
      ></app-popular>
    </div>
  </div>
</section>

<!--  Categories  -->

<section class="HomeSection">
  <div class="cat">
    <div class="section-title">
      <span>Category</span>
      <h1>Category</h1>
      <p>
        Sit sint consectetur velit quisquam cupiditate impedit suscipit alias
      </p>
    </div>

    <div class="row">
      <div class="cill col-lg-3" *ngFor="let item of AllCategory">
        <div class="container">
          <img
            src="../../assets/img/cat_img.jpg"
            class="image"
            style="width: 100%"
          />
          <div class="middle">
            <!-- {{item.id}} -->
            <h1>{{ item.categoryname }}</h1>
            <button
              type="button"
              (click)="gotoproduct(item.id)"
              class="btn btn-danger btn-lg"
            >
              select
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  Work with Us  -->

<section class="HomeSection">
  <div class="cat">
    <div class="section-title">
      <span>Work with Us</span>
      <h1>Work with Us</h1>
      <p>
        Sit sint consectetur velit quisquam cupiditate impedit suscipit alias
      </p>
    </div>


    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <a class="box_work" [routerLink]="'Cafe/Signup'">
          <img
            src="../../assets/img/cafe-icon2.jpg"
            width="848"
            height="480"
            alt=""
            class="img-responsive"
          />
          <h3>Submit your Restaurant<span>Start to earn customers</span></h3>
          
          <div class="btn_1">Register now</div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="box_work" [routerLink]="'Delivery/singup'">
          <img
            src="../../assets/img/D-delivery-icon.png"
            width="848"
            height="480"
            alt=""
            class="img-responsive"
          />
          <h3>We are looking for a Driver<span>Start to earn money</span></h3>
          
          <div class="btn_1">Register now</div>
        </a>
      </div>
    </div>
  </div>
</section>

<!--  testimonial   -->

<app-testimonial></app-testimonial>

<!--  about Us  -->

<app-about></app-about>

<!--  team  -->

<app-team></app-team>


