
<app-slider></app-slider>
<app-about></app-about>

  <section id="Category" class="Category">
    <div class="cat">

    <div class="section-title">
      <span>Category</span>
      <h1>Category</h1>
      <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
    </div>

    
   
      <div class="row">
        <div class="cill col-lg-3"  *ngFor="let item of AllCategory">
          <div class="container">
            <img src="../../assets/img/cat_img.jpg"  class="image" style="width:100%" >
            <div class="middle">
              <!-- {{item.id}} -->
              <h1>{{item.categoryname}}</h1>
              <button type="button" class="btn btn-danger btn-lg" (click)="gotoproduct(item.id)">select</button>
            </div>
          </div>
        </div>
      </div>

      
    
    </div>
  </section>
<app-team></app-team>
